body
{
	margin: 0;
    padding: 0;
	background-color:rgb(0, 0, 0);

	font-family: "Dancing Script", cursive;
	font-size: 5px;
	background-size:100% 100%;
}
#container
{
	background-image: url("../WillowTree.png");
	font-size:24px;
	margin: 0 auto;
	padding:10px 50px;
	width:100%;
	position:relative;
	text-align:center;
	color:white;
	height:100%;
}
h1
{
	font-size:48px;
	padding-top: 30px;
	text-align:center;
	color:white;
	text-shadow:0px 0px 50px pink;
}
p
{
	margin: 20px;
	font-size: 20px;
}
a
{
	color:rgb(255, 247, 128);
}
a.button
{
	font-size: 30px;
	text-decoration: none;
	color:rgb(128, 232, 255);
	display:inline-block;
	margin:20px auto;
	padding:5px 40px;
	border:1px solid rgb(128, 232, 255);
	border-radius:7px;
}
a.button:hover
{
	text-shadow:0px 0px 8px white;
	background:rgba(151, 128, 255, 0.4);
}

